body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.filler-logo {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 0;
}


.modal-body-data {
  height: 60vh;
  gap: 10px;
  flex-wrap: nowrap!important;
}

.modal-body-data > div {
  height: inherit;
}

.accordion-body hr:last-child {
  display: none;
}

.filler-container {
  position: fixed;
  top: 25%;
  right: 1%;
  z-index: 9999;
  width: fit-content;
}

form label {
  display: block;
  color: hsla(0,0%,10%,.7);
  font-size: 13px;
  padding-top: 9px;
}

form input, form select {
  border: 1px solid rgba(26,26,26,0.2);
  border-radius: 6px;
  color: hsla(0,0%,10%,0.9);
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;
}

@media screen and (max-width: 900px) {
  .modal-body-data {
    flex-wrap: wrap!important;
  }
  .modal-body-data > div {
    height: auto
  }

}