/* form {
  background-image: url('./image.jpeg');
  background-repeat: no-repeat;
  background-size:cover
} */

html body {
  background-color: #E6E7EE;
  color: hsla(0,0%,10%,.9)
}

.image-embedded-input {
  position: relative;
}

.image-embedded-input > input {
  width: 100%;
}

.image-embedded-input > .images {
  position: absolute;
  top: 7px;
  right: 5px;
  padding-right: 4px;
}

.card-info > .card-details > input {
  width: 50%;
  padding: 4px 10px;
}

form {
  background-color: #E6E7EE;
  border: 1px solid #d1d9e6;
  border-radius: 5px;
  padding: 10px 20px;
}

.neumorphic-shadows {
  -webkit-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
        box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}

form label {
  display: block;
  color: hsla(0,0%,10%,.7);
  font-size: 13px;
}

form input, form select {
  border: 1px solid rgba(26,26,26,0.2);
  border-radius: 6px;
  color: hsla(0,0%,10%,0.9);
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;
}

form input:focus, form select:focus {
  border-color: green
}

.productTourWidth {
  width: 500px;
}

.form-width {
  width: 33%;
}

@media screen and (max-width: 900px) {
  .form-width {
    width: 80%;
  }
}